---
import Layout from "../layouts/Main-Layout.astro";
import Menu from "../components/Menu.astro";
import Card from "../components/Card.astro";
---

<Layout title='Saline Ettore Infersa'>
  <main class='flex flex-row'>
    <Menu HasSectionNumber={false} title='Home' sectionNumber='01' />
    <div class='snap-x flex-1 flex items-center justify-start gap-16 overflow-x-scroll scroll-pr-72 no-scrollbar'>
      <div class='ml-16'><Card sectionNumber='01' href='01' /></div>
      <Card sectionNumber='02' />
      <Card sectionNumber='03' />
      <Card sectionNumber='04' />
      <Card sectionNumber='05' />
      <Card sectionNumber='06' />
      <Card sectionNumber='07' />
      <Card sectionNumber='08' />
      <Card sectionNumber='09' />
      <Card sectionNumber='10' />
      <div class='min-w-32'>a</div>
    </div>

    <a href='http://'><img src='/src/assets/eng.svg' alt='change language' class='absolute top-8 right-8 hover:opacity-80 hover:scale-110 animation-smooth' /></a>
  </main>
</Layout>
