---
import Layout from "../layouts/Main-Layout.astro";
import Menu from "../components/Menu.astro";
import Card from "../components/Card.astro";
---

<Layout title='Saline Ettore Infersa'>
  <main>
    <Menu HasSectionNumber={false} title='Home' sectionNumber='01' />
    <div class='h-screen flex items-center justify-center overflow-scroll'>
      <div class='scroll-pl-6 snap-x flex gap-16 snap-mandatory'>
        <Card sectionNumber='01' />
        <Card sectionNumber='02' />
        <Card sectionNumber='03' />
        <Card sectionNumber='04' />
        <Card sectionNumber='05' />
        <Card sectionNumber='06' />
        <Card sectionNumber='07' />
        <Card sectionNumber='08' />
      </div>
    </div>
  </main>
</Layout>
