---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Main-Layout.astro";

---

<Layout title='Saline Ettore Infersa'>
  <main class='flex flex-row'>
    <Nav />
    <div class='flex-1 flex items-center justify-start gap-8'>
      <div class='flex gap-1 group hover:-translate-y-2 animation-smooth'><div class='text-white text-2xl font-extralight -translate-y-3'>01</div> <a href='/' class='flex text-white font-bold text-3xl animation-smooth group-hover:underline'>HOME</a></div>

      <div class='flex gap-1 group hover:-translate-y-2 animation-smooth'><div class='text-white text-2xl font-extralight -translate-y-3'>02</div> <a href='#' class='flex text-white font-bold text-3xl animation-smooth group-hover:underline'>COLOPHON</a></div>

      <div class='min-w-32'>a</div>
    </div>
  </main>
</Layout>
