---
import Buttons from "../components/Buttons.astro"

---


  <main class="flex flex-col gap-8 bg-black h-screen justify-center items-center">
    <img class="h-64 w-64" src="/public/Sei_logo.svg" alt="">
    <Buttons label="clicca per iniziare" link="/"></Buttons>
  </main>
