---
interface Props {
  link?: string;
  label?: string;
  hasIconLeft?: boolean;
  hasIconRight?: boolean;
  srcIcon?: string;
}

const {link = "#", label = "Bottone", hasIconLeft, hasIconRight, srcIcon = "/sei-museum/arrowRight.svg"} = Astro.props as Props;
---

<a href={link} class='bg-white group text-black font-bold px-6 py-4 w-fit h-fit text-center inline-flex items-center gap-4 rounded-full uppercase animation-smooth'>
  {hasIconLeft && <img class='w-6 h-6  group-hover:-translate-x-2 animation-smooth ' src={srcIcon} />}
  {label}
  {hasIconRight && <img class='w-6 h-6 group-hover:translate-x-2 animation-smooth' src={srcIcon} />}
</a>
